<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Designed and built with all the love in the world by @mdo and @fat. Maintained by the core team with the help of our contributors.
                </p>
            </div>
        </div>
    </div>
</footer> -->

<footer class="bs-docs-footer">
    <div class="container">
        <ul class="bs-docs-footer-links">
        <li><a href="https://github.com/">GitHub 仓库</a></li>
        <li><a href="#">FBC</a></li>
        </ul>
    
        <p>Designed and built with all the love in the world by Dong and Yang. Maintained by the BlockTeam core team with the help of <a href="#">FBC</a>.</p>
    
        <p>本项目源码受 <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>开源协议保护，文档受 <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> 开源协议保护。</p>
    
    </div>
</footer>